<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:name=".NexusApp" android:icon="@drawable/ic_launcher" android:roundIcon="@drawable/ic_launcher" android:theme="@style/Theme.NexusTerminal" android:label="NEXUS TERMINAL" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".ui.MainActivity" android:windowSoftInputMode="adjustResize" android:screenOrientation="unspecified" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
        <activity android:name=".editor.TextEditorActivity" android:exported="false" />
    </application>
</manifest>
